.heroContainer {
  position: relative;
  width: 100vw;
  height: fit-content;
  overflow: hidden;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 2000px;
  margin-top: 0;
  padding: 4rem 0;
  transform: scale(0.9);
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  width: 90vw;
  aspect-ratio: 16/9;
  margin: auto;
  will-change: transform;
  transform-style: preserve-3d;
  
}

.imgWrapper img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.glareEffect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(
    circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
    rgba(255, 255, 255, 0.2) 0%,
    transparent 80%
  );
  transition: opacity 0.3s ease;
}
